<nav>
    <div class="nav-wrapper black white-text" >
      <a href="#" class="brand-logo" ><img src="images/svg/layouter.svg" style="width: 4em;height:4em"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">home</i></a></li>
        <li><a href="/admin"><i class="material-icons">phonelink_setup</i></a></li>
       
      </ul>
     
    </div>
  
  </nav>
  